body {
    background-color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-color: #222;
}
a {
    text-decoration: none;
    color:#222
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
.apps-icon {
    border-radius: 50%;
}

.profile-photo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


.google-logo {
    height: 92;
    width: 272px;
    align: center;
    
}

#google-search-textbox {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
footer {
    background-color: #f2f2f2
    
}